*, *:before, *:after {
  box-sizing: border-box;
}

.statusbar {

}

.navigation {
  background-color: #007AE5;
  height: 56px;
  width: 100%;
}

.back {
padding-top:16px;
padding-left: 16px;
padding-bottom: 8px;
float:left;
}

h1 {
color: #FFFFFF;
font-size: 24px;
font-family: "Roboto", sans-serif;
padding-top: 16px;
padding-left: 32px;
float: left;
text-align: center;

}


.buses {
background-color: white;
font-size: 18px;
font-family: "Roboto", sans-serif;
font-weight: medium;
font: black;
width: 100%;
}


h2 {
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 18px;
  font-weight: medium;
  width: 80%;
}

h3 {
  padding-left: 16px;
  font-size: 16px;
  font-weight: bold;
}

.circle {
  width:94px;
  height:91px;
  border-radius: 50%;
  background-color: #1e88e5;
  line-height: 94px;
  text-align: center;
  color: #FFFFFF;
}
.black {
  background-color: black;
  height: 48px;
  width:100%;
  }

nav.li {
  list-style-type: none;
}
}
