*, *:before, *:after {
  box-sizing: border-box;
}

div.wrapper {
  width: 400px;
  list-style-type: none;
  margin: 0 auto;
}
div.statusbar {
  height: 24px;
  background-color: white;
  float:right;
  display: inline;
  padding-top: 4px;
  padding-left: 75%;
  width: 100%;
}

nav.blue {
  background-color: #007AE5;
  height: 84px;
  width: 100%;
}

h1 {
color: #FFFFFF;
font-size: 24px;
font-family: "Roboto", sans-serif;
text-align: center;
}



img.back {
padding-bottom: 8px;
padding-left: 16px;
float: left;
}

ul {
  float: left;
}



li {
background-color: white;
font-size: 18px;
font-family: "Roboto", sans-serif;
font-weight: medium;
font: black;
}


h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: medium;
  margin-top: 22px;
  margin-bottom: 16px;
  margin-left: 16px;
}


h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 16px;
}


h4 {
  font-style: italic;
  font-size: 14px;
  color: #4A4A4A;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
  margin-left: 16px;
}

li.times {
  float: right;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 20px;
}


p {
  width:65px;
  height:65px;
  line-height: 70px;
  border-radius: 60%;
  background-color: rgb(0, 129, 233, 0.42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 90);
  margin: 10px;
}





footer {
  background-color: black;
  height: 48px;
  width:100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;

  }

  img.navback {
    padding-top: 16px;
    padding-left: 72px;
    padding-bottom: 16px;
    float: left;
  }

  img.navhome {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left:16px;
    padding-right: 8px;
  }

  img.navrecent {
padding-right: 80px;
padding-bottom: 16px;
padding-top: 16px;
float: right;
  }
}
