*, *:before, *:after {
  box-sizing: border-box;
}
body {
  width:400px;
  margin: 0 auto;
}
div.wrapper {
  width: 400px;
  list-style-type: none;
  width: 100%;
}
div.statusbar {
  height: 24px;
  background-color: white;
  float:right;
  display: inline;
  padding-top: 4px;
  padding-left: 75%;
  width: 100%;
}

nav.blue {
  background-color: #007AE5;
  height: 84px;
  width: 100%;
  padding-top: 42px;
}

h1 {
color: #FFFFFF;
font-size: 24px;
font-family: "Roboto", sans-serif;
text-align: center;
}


img.back {
padding-left: 16px;
padding-top: 4px;
float: left;

}

ul {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font: black;
}

li.direction {
font-size: 18px;
font-weight: medium;
float: left;
display: inline-block;
}


li.times {
width: 10%;
float: right;
display: inline-block;
}

p {
  width:65px;
  height:65px;
  line-height: 70px;
  border-radius: 60%;
  background-color: rgb(0, 129, 233, 0.42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 90);

}
li.bus {
width:85%;
display: inline-block;
}
h3 {
  font-size: 16px;
  font-weight: medium;
  line-height: 30px;
}


h4 {
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  color: #4A4A4A;
}




footer {
  background-color: black;
  height: 48px;
  width:100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;

  }

  img.navback {
    padding-top: 16px;
    padding-left: 72px;
    padding-bottom: 16px;
    float: left;
  }

  img.navhome {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left:16px;
    padding-right: 8px;
  }

  img.navrecent {
padding-right: 80px;
padding-bottom: 16px;
padding-top: 16px;
float: right;
  }
}
